@font-face {
    font-family: Cute;
    src: url('assets/PORKH__.TTF') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    display: flex;
    align-items: center;
    background-color: #F5C1EF;
    padding: 15px;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    -webkit-text-stroke: 2px rgb(0,0,0);
    
}

a:hover {
    background-color: #f5c9f0;
}

body {
    display: flex;
    font-family: Cute;
}

.left, .right {
    background: none;
    height: 100vh;
    width: 20%;
}

.middle {
    display: flex;
    justify-content: center;
    background-image: url("./assets/background.jpg");
    background-size: contain;
    height: 100vh;
    width: 60%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255);
    margin: 10% 0;
    height: 80%;
    width: 70%;
    gap: 10px;
    text-align: center;
    border-radius: 5px;
}

.container > div, .highlight, .profile, .social, .work, .temp, .banner, .text-block, .posters, .a, .b, .c {
    border-radius: 3px;
    background-size: contain;
}

.highlight {
    font-size: 1.1rem;
    color: #C7CAFF;
    padding: 3px;
    -webkit-text-stroke: 2px rgb(0,0,0);
}

.top-ribbon div {
    width: 49%;
    background-color: #FAFABE;
    border: 3px dashed pink;
}

.top-ribbon, .bottom-ribbon {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    background-image: url(assets/ribbon.png);
    height: 40px;
    width: 98%;
    letter-spacing: 2px;
    border: 2px solid #F5C1EF;
}

.profile {
    background-image: url(assets/backdrop.jpg);
    color: #F5C1EF;
}

.social {
    background-image: url(assets/backdrop-2.jpg);
    color: #C7CAFF;
}

.work {
    background-image: url(assets/backdrop-3.jpg);
    color: #C1EBC0;
}

.profile,
.social,
.work {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-size: contain;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.banner {
    display: flex;
    align-items: center;
    height: 27.5%;
    width: 98%;
    gap: 10px;
    border: 2px solid #F5C1EF;
}

.text-block {
    height: 100%;
    width: 40%;
}

.posters {
    display: inline-flex;
    justify-self: end;
    height: 100%;
    width: 54.5%;
    gap: 5px;
}

.a,.b,.c {
    height: 100%;
    width: 100%;
}

.a {
    background-image: url(assets/header.jpg);
}
.b {
    background-image: url(assets/header-2.jpg);
}
.c {
    background-image: url(assets/header-3.webp);
}

.text-block {
    text-align: left;
}

.temp {
    width: 100%;
}

.text-block p {
    font-size: 1.1rem;
    padding: 3px;
    -webkit-text-stroke: 2px rgb(0,0,0);
}

.text-block span {
    font-size: 1.5rem;
    -webkit-text-stroke: 2px rgb(0,0,0);
}